@font-face{
    font-family:"Imperfecta";
    src:url("../Recursos/Fuentes/Imperfecta\ Regular.ttf");
}

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    outline:0; 
}

body{
    width: 100%;
    background-color:whitesmoke;
}

html{
    font-size:80%;
}

/*********************************************************************************/
/***************************************FOOTER************************************/
/*********************************************************************************/

.Footer{
    background-color:rgba(48,89,115,1);    
    

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: baseline;

    align-content: center;

    font-family:Imperfecta;


    margin-top:3em;
}

.Footer_Element > h2{
    color:#ff570c;
    font-size:2em;
}

.Footer_Element{
    margin:1rem;
    text-align: center;
    color:whitesmoke;
    font-size:1.2em;
}

.Footer_Element #Footer_Schedule  span{
    color:#faf6e9;
}

.Footer_Element #Footer_Schedule  span p{
    color:#fcf9ea;
}

.Footer_Element address{
    margin:1rem 0rem;
    
}

.Footer_Element img{
    width:10rem;
    height: 5rem;
    margin-top:0.5rem;
}

.Footer_Element > article {
    margin-top:1rem;
}

.Footer_Element ul{
    list-style: none;
    color:whitesmoke;
}

.Footer_Element ul li a{
    text-decoration: none;
    color:whitesmoke;
}
