@font-face{
    font-family: "DealerPlate";
    src:url("../Recursos/Fuentes/dealerplate\ california.ttf")
}

@font-face{
    font-family:"Imperfecta";
    src:url("../Recursos/Fuentes/Imperfecta\ Regular.ttf");
}

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    outline:0; 
}

body{
    width: 100%;
    background-color:whitesmoke;
}

html{
    font-size:80%;
}

/**************************************************************************/
/*********************************NAVBAR***********************************/
/**************************************************************************/

.navBar {
    font-family:Imperfecta;
    font-size: 1.5em;
    width:100%;
    display:block;
    text-align: center;
    position: sticky;
    top:0;
    background-color:#ff6138;
    z-index:5;

    user-select: none;
}

.navBar .menu ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;    
}

.navBar .menu ul .logo{
    top:0px;
    width: 6.25rem;
    height: 6.25rem;   
   
    margin-right:auto;
    margin-left: 0.5rem;
    display:inline-block;       

    background:url("../Recursos/Imagenes/Logo.png");
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;    
}

.navBar .menu li {    
    padding: 2.5rem 2rem;
    position: relative;
    transition-duration: 0.5s; 
    
}

.navBar .menu li a {
    text-decoration: none;
    color:whitesmoke;
}

.navBar .menu li a:nth-child(n+1):nth-child(-n+3){
    font-size:1.25em;
}

.navBar .menu li:hover {
    background: red;
    cursor: pointer;
}

.navBar .menu ul li ul {
    background-color:#ff5722;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    width:100%;
}

.navBar .menu ul li:hover > ul{
    visibility: visible;
    opacity: 1;
    display: block;
}

.navBar .menu ul li ul li {
    width: 100%;
    font-size:0.75em; 
    padding:0.5em;   
}

/**************************************BUSCADOR********************/

.navBar .menu .Form_Container{
    padding-top:0;
    padding-bottom:0;
    margin-left:auto;
}

.navBar .menu .Form_Container:hover{
    background-color:#ff6138;
    cursor:auto;
}

.navBar .menu .Form_Container form{   
    border-radius:0.5em;  
    background-color:#303841;
    text-align: center;
}

.navBar .menu form input[type=text]{
    border:none;
    font-size:1.2em;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;    
    padding:0.25em;
    background-color:#303841;
    color:#eeeeee;
    font-family:monospace;
    
    font-weight: bold;
}

.navBar .menu form button[type=submit]{
    background: url("../Recursos/Imagenes/Buscar_Alpha.png");
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    cursor: pointer;
    border:none;
    background-color:#303841;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    padding-top: 1.5rem;
    width: 3em;
    height: 3em;

    transition:0.5s;
}

.navBar .menu form button[type=submit]:hover{
    background-color:#AAAAAA;
}

/********************************ENLACES/CARRITO*********************************/

#Link_SignUp,#Link_Login,#Link_Carro,#Link_User{
    padding: 0.5rem;
    color:white;
}

#Link_SignUp{
    margin-left:1rem;
}

#Link_Carro{
    margin-right:1rem;
    text-align: center;
}

.Enlace_SignUp{    
    border:none;    
    width: 3.12em;
    height: 3.12em;
    text-align: center;
    background: url("../Recursos/Imagenes/SignUP.png");
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    cursor: pointer;    
     
}

.Enlace_User{
    border:none;
    width: 3.12em;
    height: 3.12em;
}

.Enlace_User img{
    height:100%;
    
}

#Link_User{
    position:relative;
}

#Link_User ul{
    position:absolute;
    
    margin-top:0;
    width:100%;
}

#Link_User > ul >li{
    font-size:0.75em;
    padding:1rem;
}

.Enlace_Login{    
    border:none;    
    width: 3.12em;
    height: 3.12em;
    text-align: center;
    background: url("../Recursos/Imagenes/Login.png");
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    cursor: pointer;
}

.Enlace_Carro{
    border:none;    
    width: 3.12em;
    height: 3.12em;
    text-align: center;
    background: url("../Recursos/Imagenes/Carro.png");
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    cursor: pointer;
    position:relative;
}

.Enlace_Carro .Cart_num{
    color:whitesmoke;
    position:absolute;
    border-radius: 50%;
    font-size:1.5rem;
    font-family: sans-serif;
}

/*****************************MODALES*********************************/

.Modales{
    position:fixed;
    z-index: 4;
    width:100%;    
    height: 100%;
    background-color:#303841DD;  
    text-align: center;
    display: none;
    align-items: space-around;
    justify-content: center;
    /*animation: animatezoom 0.6s;*/
}
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

.Modales .Modal_Class .Modal_Form_img .Avatar{
    border-radius: 40%;
    border-style: solid;
    border-width: 0.5rem;
    border-color: #ff6138;
    width: 12.5rem;
    height:12.5rem;
}

.Modales .Modal_Form_Contenido input{
    display:block;
    
    margin-left:auto;
    margin-right:auto;
    margin-top:1rem;
    padding:0.5rem; 

    border:none;
    font-size:1.5em;

    background-color:#feffdf;    
}

.Modales .Modal_Form_Contenido button{
    display:block;
    width:100%;
    font-size:2em;
    margin-top:0.5rem;
    border:none;
    color:whitesmoke;
    font-family:DealerPlate;
    transition:0.5s ease;
    filter: brightness(75%);    
}

.Modales .Modal_Form_Contenido button:hover{
    cursor:pointer;
    filter:brightness(125%);    
}

.Modales .Modal_Form_Contenido button[type=submit]{
    background-color:#00a945;
}

.Modales .Modal_Form_Contenido button[type=button]{
    background-color:#ef5a5a;
}
.Modales .switch{
    position:relative;
    display:inline-block;
    width:4em;
    height:2em;
}
.Modales .switch input{
    opacity:0;
    width:0;
    height:0;
}

.Modales .switch .slider{
    position:absolute;
    cursor:pointer;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color:#ccc;
    transition: .4s;
    border-radius:2rem;
}

.Modales .switch .slider:before{
    position: absolute;
    content:"";
    height:1.5em;
    width:1.5em;
    left:10%;
    bottom:12%;
    transition:.4s;
    background-color:#eeeeee;
    border-radius:50%;
}

.Modales .switch input:checked + .slider{
    background-color: #2e99b0;
}

.Modales .switch input:checked + .slider:before{
    transform:translateX(120%);
}

.Modal_Form_Contenido p{    
    display:inline-block;    
    color:whitesmoke;
    font-size:1.15rem;
}

#LoginID{
    display: none;
    flex-direction:column;
}

#SignUpID{
    display:none;
    flex-direction:column;
    font-size:.75em;
}

#INFO_DIV_LOGIN{
	color:whitesmoke;
	
	margin-top:2rem;
	font-family: Imperfecta;
	font-size:2rem;
}

#INFO_DIV_SIGNUP{
	color:whitesmoke;
	
	margin-top:2rem;
	font-family:Imperfecta;
	font-size:2rem;
}