@font-face{
    font-family: "DealerPlate";
    src:url("Recursos/Fuentes/dealerplate\ california.ttf")
}

@font-face{
    font-family :"Armata";
    src:url("Recursos/Fuentes/ArmataHL.otf");
}

@font-face{
    font-family: "Sunday";
    src:url("Recursos/Fuentes/SUNDAY\ \ Personal\ use.ttf");
}

@font-face{
    font-family:"Imperfecta";
    src:url("Recursos/Fuentes/Imperfecta\ Regular.ttf");
}

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    outline:0; 
}

body{
    width: 100%;
    background-color:whitesmoke;
}

html{
    font-size:80%;
}

.Contenido{
    
    width:100%;
}

.Contenido .Wrap_Cart{
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    width:90%;
    margin:4em auto;
    border-radius: 2%;

}

.Contenido .Wrap_Cart h3{
    
    text-align: center;
    font-size:3em;
    font-family:Imperfecta;
    padding-top:1em;
}

.Contenido .Wrap_Cart h4{
    
    text-align: center;
    font-size:5em;
    font-family:Imperfecta;
    padding-top:1em;
    padding-bottom:2em;
}

.table_Container{
    
    display:flex;
    flex-direction: column;
    width:95%;
    margin:0 auto;
    padding-bottom:2em;
}

.table_Container > div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:stretch;
}

.table_Container > div > input{
    border:none;
    font-size:2em;
    border-bottom: 0.5rem solid black;
    border-right: 0.5rem solid black; 
    background:#dedede;   
}

.table_Container > div > *{
    border-bottom: 0.5rem solid black;
    text-align: center;
    font-size:2em;
    background:#f6f4f4;
}

.table_Container > div > *:nth-child(1){
    width:10%;
}

.table_Container > div > *:nth-child(2){
    width:50%;
}

.table_Container > div > *:nth-child(3){
    width:10%;
}

.table_Container > div > *:nth-child(4){
    width:10%;
}

.table_Container > div > *:nth-child(5){
    width:20%;
}

.table_Container > div > a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color:black;
}

.table_Container > div > a > .image_Container{  
    width:25%;
}

.table_Container > div > a > .image_Container > img{
    width:100%;
}

.table_Container .table_header > div{
    border:none;
    background: #2c2727;
    color: whitesmoke;
    padding:1rem;
    font-family: Imperfecta;
}

.table_Container .row {
    font-family: Armata;
}

.table_Container .row input{
    font-family: Armata;
}

.table_Container .row > a > img{
    height: 50%;
    margin:auto auto;
    background:#222831;
    border-radius: 50%;
}

.table_Container .row > a.Delete_Icon:hover > img{
    background:red;
    transition:0.4s;
}


.table_Container .btn_Dec{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    margin:2rem 0;
}

.table_Container .btn_Dec *{
    border: none;
    margin:1rem auto;
    color: whitesmoke;
    font-family: Imperfecta;
    transition: 0.4s;
    
}

.table_Container .btn_Dec *:hover{
    filter:grayscale(60%);
    cursor:pointer;
}

.table_Container .btn_Dec .btn_Send{
    width:25%;
    background:#199e20;
}

.table_Container .btn_Dec .btn_Declined{
    width:25%;
    background:#df2a2a;
    text-align: center;
}

.table_Container .btn_Dec .btn_Update{
	width:25%;
	background:#00909e;
	text-align:center;
}
