@font-face{
    font-family: "DealerPlate";
    src:url("Recursos/Fuentes/dealerplate\ california.ttf")
}

@font-face{
    font-family :"Armata";
    src:url("Recursos/Fuentes/ArmataHL.otf");
}

@font-face{
    font-family: "Sunday";
    src:url("Recursos/Fuentes/SUNDAY\ \ Personal\ use.ttf");
}

@font-face{
    font-family:"Imperfecta";
    src:url("Recursos/Fuentes/Imperfecta\ Regular.ttf");
}

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    outline:0; 
}

body{
    width: 100%;
    background-color:whitesmoke;
}

html{
    font-size:80%;
}


/*********************************************************************/
/*****************************CONTENIDO*******************************/
/*********************************************************************/

.Contenido{
    width:100%;
    
    display: block;
    position: relative;
    
}

.Contenido .Slider_Carrousel{
    text-align: center;
    background-color: whitesmoke;
    position:relative;
    width:60%;    
    margin-left:auto;
    margin-right:auto;
}

.Contenido .Slider_Carrousel .Slide_prev,.Contenido .Slider_Carrousel .Slide_next{
    background-color:#bebebe8f;
    padding:0.5em;
    color:black;
    font-weight: bold;
    font-size:3em;
    position: absolute;
    transition: 0.6s ease;
    user-select: none;
    top:40%;
}

.Slide_prev:hover,.Slide_next:hover{
    background-color: #222222 !important;
    color: whitesmoke !important;
    cursor:pointer;
}

.Contenido .Slider_Carrousel .Slide_next{
    border-top-left-radius: 12%;
    border-bottom-left-radius: 12%;
    right:0;
}

.Contenido .Slider_Carrousel .Slide_prev{
    border-top-right-radius: 12%;
    border-bottom-right-radius: 12%;
    left:0;
}

.Contenido .Slider_Carrousel .Slide{
    display: none;
}

.Contenido .Slider_Carrousel .Slide img{
    margin: 1.5rem 0rem;
    width: 50em;
    height: 25em;
    border:none;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }

  @-webkit-keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
  }

  @keyframes fade{
      from{opacity:0.4}
      to{opacity:1}
  }

/********************************************************************************/
/**************************SUBMENU***********************************************/
/********************************************************************************/

.Contenido .SubMenu{    
    /*background: rgb(254,255,223);*/
    background: whitesmoke;
    padding-top:3rem;
    display:flex;
    flex-direction: column;

    /*background: linear-gradient(180deg, rgba(254,255,223,1) 50%, rgba(48,89,115,1) 100%);*/
}

.Contenido .SubMenu .SubMenu_Parts{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    

    width:100%;
    margin-left:auto;
    margin-right:auto;
}


.Contenido .SubMenu .SubMenu_Parts > h1{
    margin-right: auto;
    margin-left:10%;
    font-size:2.5em;
    font-family: DealerPlate;
}

.Contenido .SubMenu .SubMenu_Parts .SubMenu_Slider_Container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:70%;
    position: relative;
    overflow:hidden;
    padding:1.5em 0em;

    
}

.SubMenu_Slider_Container::before,.SubMenu_Slider_Container::after{
    width:10%;
    height:100%;
    position:absolute;
    content:"";
    background: linear-gradient(to right,whitesmoke 0%,rgba(255,255,255,0) 100%);
    z-index:2;
}

.SubMenu_Slider_Container::before{
    left:0;
    top:0;
}

.SubMenu_Slider_Container::after{
    right:0;
    top:0;    
    transform:translateX(1px) rotateZ(180deg);
}

hr {
    border: 3px solid #666; 
    border-radius: 45%; 
    height: 0px;     
    width:80%;

    margin-right:auto;
    margin-left:10%;

    margin-bottom:1.5rem;
}

.Contenido .SubMenu .SubMenu_Parts .SubMenu_Slider_Container .SubMenu_Slider{
    display:flex;
    flex-direction: row;
    
    align-items: stretch;

   /* animation:slideshow 10s linear infinite;*/
}

@keyframes slideshow{
    0%{transform:translateX(-50%);}
    100%{transform:translateX(-100%);}
}

.SubMenu_Slider_prev,.SubMenu_Slider_next{
   font-size:5em;
  
   cursor:pointer;
   border:none;
   transition:0.5s;
   padding:0.5rem 1rem;
   background-color: #666666;
   color:whitesmoke;
   position: absolute;

   z-index:3;
   transform: translateY(100%);
}

.SubMenu_Slider_prev{
    border-top-right-radius: 12%;
    border-bottom-right-radius: 12%;
    left:0;
}

.SubMenu_Slider_next{
    border-top-left-radius: 12%;
    border-bottom-left-radius: 12%;
    right:0;
}



.SubMenu_Slider_prev:hover,.SubMenu_Slider_next:hover{
    background-color: #222222;
    color:whitesmoke;
 }


.Contenido .SubMenu .SubMenu_Parts .Card{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;    

    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:15rem;   
    background-color:whitesmoke;
    margin:20px;   
    transition:0.4s;
}

.Contenido .SubMenu .SubMenu_Parts .Card >a{
	text-decoration:none;
	color: #3a3535;
}

.Contenido .SubMenu .SubMenu_Parts .Card:hover{
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.8);
    cursor:pointer;
    transform:scale(1.1);
    animation: animateZoomCard 0.4s;
}

@keyframes animateZoomCard {
    from {transform: scale(1)}
    to {transform: scale(1.1)}
  }

.Contenido .SubMenu .SubMenu_Parts .Card_Img{
    width:12rem;
    height:10rem;
    border:none;
}

.Contenido .SubMenu .SubMenu_Parts .Card .Card_Title{
    font-size:1.5em;
    font-family: Sunday;    
    margin-top:1rem;

}

.Contenido .SubMenu .SubMenu_Parts .Card .Card_Price{
    font-family: Armata;
    font-size:1.8em;
    font-weight: bold;
    margin-top:1rem;
    
}

.Contenido .SubMenu .SubMenu_Parts .Card .Card_Description{
    font-family: Armata;
    text-transform: lowercase;
    font-size:1.2em;
    margin:1em 0;
}

.Contenido .SubMenu .SubMenu_Parts .Card .Card_Description::first-letter{
    text-transform: uppercase;
}

.Contenido .SubMenu .SubMenu_Parts .Card .btn_Card_AddCart{
    width:100%;
    border:none;  
    cursor:pointer;
    background-color: red;  
    color:whitesmoke;
    font-family: Imperfecta;
    font-size:1.5em;
    padding:1rem;
    margin-top:auto;
}


.Contenido .SubMenu .SubMenu_Parts .Card .btn_Card_AddCart .PopUp{
    background:yellow;
    color:black;
    position:absolute;
    
    left:15%;
    top:-150%;
    
    padding:1rem 0;
    z-index:2;
    visibility: hidden;
}

.PopUp::after{
    content:"";
    position:absolute;
    border:0.75rem solid yellow;
    top:80%;
    left:50%;
    transform: rotate(45deg);
}

.Contenido .SubMenu .SubMenu_Parts .Card .btn_Card_AddCart .show{
    
    -webkit-animation: fadeInPop 1s;
    animation: fadeInPop 1s;
    visibility: visible;
}

@-webkit-keyframes fadeInPop {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeInPop {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.Card .btn_Card_AddCart:hover{
    filter:grayscale(50%);
}
