@font-face{
    font-family: "DealerPlate";
    src:url("Recursos/Fuentes/dealerplate\ california.ttf")
}

@font-face{
    font-family :"Armata";
    src:url("Recursos/Fuentes/ArmataHL.otf");
}

@font-face{
    font-family: "Sunday";
    src:url("Recursos/Fuentes/SUNDAY\ \ Personal\ use.ttf");
}

@font-face{
    font-family:"Imperfecta";
    src:url("Recursos/Fuentes/Imperfecta\ Regular.ttf");
}

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    outline:0; 
}

body{
    width: 100%;
    background-color:whitesmoke;
}

html{
    font-size:80%;
}


/*********************************************************************************/
/************************************CONTENIDO************************************/
/*********************************************************************************/
.Contenido{
    width:100%;
    height:100%;
}

.Wrapper_Contenido{
    width: 100%;
    height: 100%;
    position: relative;
}

.Wrapper_Producto{
    width:70%;
    margin-right:auto;
    margin-left:auto;

    display:flex;
    direction:row;
    justify-content:flex-start;

    margin-top: 5em;

    -webkit-box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.52);  
    -moz-box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.52);   
}

.Wrapper_Producto .Product_Side{    
    width:50%;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
}

.Wrapper_Slider_Imagen{
    display: block;
    width: 25%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}

.Wrapper_Slider_Imagen .Slider_Imagen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    width:100%;

    margin-left:1em;
}

.Slider_Imagen .Slide_Img{
    width:100%;
    margin:1rem 0em;

    border:solid 0.25rem #ff7657;

    cursor: pointer;

    transition: 0.4s;

}

.Slider_Imagen .Slide_Img:hover{
    border:solid 0.25rem #ff1111;
    transform:scale(1.25);       
}

.Slide_Img img{
    width:100%;
    background:whitesmoke;
}

.Wrapper_Product_Imagen{
    width:75%;
}

.Wrapper_Product_Imagen .Product_Image{
    
    width:100%;
    margin-top:25%;
    margin-bottom:25%;
}

.Product_Image img { 
    width:90%;
    
    margin-left:5%;
}

.Wrapper_Producto .Description_Side{
    width:50%;
    position: relative;

    background:#042f4b;

}

.Wrapper_Description_Side{
    width:90%;
    
    margin:10% auto;

    font-size:1rem;

    color:#fbc99d;
    
}

.Wrapper_Description_Side .Rating_Stars{    
    display:flex;
    flex-direction: row;
    justify-content: end;
    
}

.Rating_Stars .Star{
    background: url("Recursos/star.png");
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    

    height: 1.5em;
    width:1.5em;

    display: block;

    user-select: none;
    
}

.Wrapper_Description_Side .Description_Categories{
    display: flex;
    flex-direction: row;

    justify-content:center;
    position: relative;
    width:50%;
    margin:0 auto;

    user-select: none;
}

.Description_Categories >h3{
    margin:0 auto;
    font-family: Armata;
    font-size:1.5em;
    letter-spacing: 0.25em;
}

.Description_Categories h3:first-child::after{
    content: "";
    position:absolute;    
    height: 0.5em;
    width:0.5em;
    border-radius: 50%;
	background: white;
    
    border:none;
    top:25%;
 
}

.Wrapper_Description_Side .Description_Title{
    font-size: 2em;
    font-family: Sunday;
    text-align: center;
    margin:1em 0em;
}

.Wrapper_Description_Side .Description_Main{
    font-size:1.5em;
    width:100%;
    height:90%;
    text-align: left;
    user-select: none;
    

    font-family: Armata;
    font-weight: bold;
    color:#fff6da;
}

.Description_Side .Wrapper_Description_Buttons{
    
    position: absolute;
    display:block;
    bottom:0;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Wrapper_Description_Buttons button{
    
    font-size:1.5em;
    border:none;
    margin-right:auto;
    margin-left:auto;

    font-family:Imperfecta;
    padding:1rem;

    cursor: pointer;
    margin-bottom:1rem;

    border-radius: 8%;

    transition: 0.4s;
}

.Wrapper_Description_Buttons button:hover{
   background: #696464;
   color: #e9e5dd;
}

.Wrapper_Valoracion{
    
    width:80%;
    margin:0 auto;
}

.Wrapper_Valoracion .star_rating > p{
    color:#343434;
    margin-left:-1em;
    margin-bottom: 0.5em;
    font-size:2em;
    margin-top:2em;

    font-family:DealerPlate;

    word-spacing: 0.75rem;
    letter-spacing: 0.15rem;
}

.Wrapper_Valoracion .star_rating .Option_Rating{
    display: inline-block;
}

.Wrapper_Valoracion .star_rating input{
    display: none;
}

.star_rating .Option_Rating > .checkmark{
    background: url("Recursos/no_star.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 3em;
    width:3em;

    display: block;

    border:none;
    
}

.star_select{
    cursor:pointer;
  	filter:sepia(100%);
}

.Wrapper_Comentario{
    
    width:80%;
    margin:0 auto;
}

.Wrapper_Comentario > p{
    color:#343434;
    margin-left:-1em;
    margin-bottom: 0.5em;
    font-size:2em;
    

    font-family:DealerPlate;

    word-spacing: 0.75rem;
    letter-spacing: 0.15rem;

    margin-bottom:2rem;
}

.Form_Comentario .Comentario{
    width:80%;
    height:8rem;
    margin:0 auto;
    display: block;
    resize: none;
    font-size:1.5rem;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Form_Comentario button{
    margin-left:80%;
    font-family: Imperfecta;
    font-size:1.5em;
    padding:0.25rem;
    margin-top:0.25rem;

    border:none;
    outline: none;

    transition:0.4s;

    background: #042f4b;
    color:#fff6da;
}

.Form_Comentario button:hover{
    background: #494949;
    color: #e9e5dd;

    cursor:pointer;
}

.Wrapper_Comments{
    display:flex;
    flex-direction: column;
}

.Wrapper_Comments .Comment{
    
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
    margin-bottom:4rem;
}

.Wrapper_Comments .Comment .User_Image{
    width:5em;
    height:5em;

    border-radius: 50%;
}

.Wrapper_Comments .Comment .User_Image img{
    width:100%;
}

.Wrapper_Text{
    
    width:70%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.Wrapper_Text .triangle{
    
    display: inline-block;    
    border-color: transparent #696464 transparent transparent;
    border-style: solid;
    border-width:1em;
    
    border-right-width: 1em;
    margin-top:0.008rem;
}

.Wrapper_Text .Content{
    display: flex;
    flex-direction: column;

}

.Wrapper_Text .Content .Comment_header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size:1.50em;
    font-family: Armata;
    background: #696464;
    color:#e9e5dd;

    padding:0.25rem;
    padding-top:1rem;

    border-radius: 0 1em 0 0;
}

.Wrapper_Text .Content .Comment_header .Rating_Stars{
    display: flex;
    flex-direction: row;
}

.Wrapper_Text .Content > .Comment_Text{
    background: #dedede;
    padding:1rem;
    border-radius: 0px 0px 2em 2em;
    font-size:1.25em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Slide_Img{
	background:red;
}

.Slide_Img video{
	width:100%;
}

.Product_Image video{
	width:80%;
	cursor:pointer;
}}