@font-face{
    font-family: "DealerPlate";
    src:url("Recursos/Fuentes/dealerplate\ california.ttf")
}

@font-face{
    font-family :"Armata";
    src:url("Recursos/Fuentes/ArmataHL.otf");
}

@font-face{
    font-family: "Sunday";
    src:url("Recursos/Fuentes/SUNDAY\ \ Personal\ use.ttf");
}

@font-face{
    font-family:"Imperfecta";
    src:url("Recursos/Fuentes/Imperfecta\ Regular.ttf");
}

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    outline:0; 
}

body{
    width: 100%;
    background-color:whitesmoke;
}

html{
    font-size:80%;
}


.Wrapper{
    background:whitesmoke;
    width:100%;
    display: flex;
    flex-direction: row;
}

.Wrapper .Wrap_Opciones{
    background:whitesmoke;
    width:20%;
}
.Wrap_Opciones .Opciones{
    background:#222831;
    position: sticky;
    top:12em;
    margin-top:3em;
    padding: 1em 0;
    border-radius: 8%;

    margin-left:20px;
    
}


.Wrap_Opciones .Opciones .Menu{
    width:90%;
    margin-left:auto;
    margin-right:auto;

    list-style: none;
    display: flex;
    flex-direction: column;

    user-select: none;
}

.Wrap_Opciones .Opciones .Menu > input{
    display: none;
}

.Wrap_Opciones .Opciones .Menu > .Item{
    background: #393e46;
    width:100%;
    display: block;
    position: relative;
    font-size:2em;
    font-family:DealerPlate;
    color:white;

    cursor: pointer;
}

.Wrap_Opciones .Opciones .Menu > .Item:before{
    content: "";
    position: absolute;
    border-color: #393e46 transparent transparent transparent;
    border-style: solid;
    border-width: 15px;
    left:10px;
    top:28px;   
    display:none;    
}

.Wrap_Opciones .Opciones .Menu > .Item + .subMenu{
    max-height: 0em;
    list-style: none;
    transition: max-height 0.8s;
    overflow:hidden;
    font-size:1.50em;
    
}

.Wrap_Opciones .Opciones .Menu > input:checked + .Item + .subMenu{
    background: white;
    max-height: 10em;
    transition: max-height 0.4s;
    font-family: Imperfecta;
    
}

.Wrap_Opciones .Opciones .Menu > input:checked + .Item:before{
    display: block;
}

.Wrap_Opciones .Opciones .Menu > .Item + .subMenu > .subItem{
    
    
    cursor: pointer;
    transition: 0.4s;

   
}

.Wrap_Opciones .Opciones .Menu > .Item + .subMenu > .subItem a{
    text-decoration: none;
    color:black;
    padding:0.75rem 0em;   
    padding-left:0.5rem;
    display: block;
    transition: 0.4s;
}



.Wrap_Opciones .Opciones .Menu > .Item + .subMenu > .subItem a:hover{
   background:#ff570c;
}

.Wrap_Opciones .Opciones .Menu >  .Item + .subMenu:last-child{
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.Wrapper .Contenido{
    width:80%;
    
}

.Contenido .Wrap_Options{
    width:90%;
    
    display:flex;
    flex-direction: row;
    
    margin:10em auto;
}

.Contenido .Wrap_Options a{
    width: 20%;
    display: flex;
    margin:0 auto;
    text-decoration: none;

}

.Contenido .Wrap_Options .Option_Container{
    display: flex;
    flex-direction: row;
    
    width:100%;
    
    color:whitesmoke;

    transition:0.4s;

    user-select: none;
}

.Contenido .Wrap_Options .Option_Container:hover{
    transform: scale(1.2);
    cursor:pointer;
}

.Contenido .Wrap_Options a:nth-child(1) .Option_Container .Icon_Container{
    background:#1a577d;
}

.Contenido .Wrap_Options a:nth-child(1) .Option_Container .Icon_Container + .Descrip{
    background:#2470a0;
}

.Contenido .Wrap_Options a:nth-child(2) .Option_Container .Icon_Container{
    background:#bf550c;
}

.Contenido .Wrap_Options a:nth-child(2) .Option_Container .Icon_Container + .Descrip{
    background:#ff7517;
}

.Contenido .Wrap_Options a:nth-child(3) .Option_Container .Icon_Container{
    background:#a8290f;
}

.Contenido .Wrap_Options a:nth-child(3) .Option_Container .Icon_Container + .Descrip{
    background:#e9290f;
}

.Contenido .Wrap_Options a:nth-child(4) .Option_Container .Icon_Container{
    background:#1a7045;
}

.Contenido .Wrap_Options a:nth-child(4) .Option_Container .Icon_Container + .Descrip{
    background:#239d60;
}

.Contenido .Wrap_Options .Option_Container .Icon_Container{
    width:40%;
}

.Contenido .Wrap_Options .Option_Container .Icon_Container img{
    width:100%;
}

.Contenido .Wrap_Options .Option_Container .Descrip{
    
    width:60%;

    display: flex;
    flex-direction: column;
    font-family: Armata;
    
}

.Contenido .Wrap_Options .Option_Container .Descrip .Descrip_Number{
    
    font-size:2.5em;
    margin:auto 0;
    margin-left:1rem;
}

.Contenido .Wrap_Options .Option_Container .Descrip .Descrip_Text{
    
    font-size:1.5em;
    margin:auto 0;

    margin-left:1rem;
}

.Contenido .Wrap_Request{
    
    width:90%;
    display: flex;
    margin:5em auto;
    display: flex;
    flex-direction: column;

    border-radius: 2%;

    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
}

.Contenido .Wrap_Request h3{
    font-size:3.5em;
    
    text-align: center;
    font-family: Imperfecta;
    word-spacing: 0.5rem;
    margin-bottom:1em;
    margin-top:1em;
}

.Contenido .Wrap_Request .List_Request{
    
    display: flex;
    flex-direction: column;
    width:95%;
    height: 35em;
    overflow-y:scroll;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2em;
    
    
}

.Contenido .Wrap_Request .List_Request .row{
    display: flex;
    flex-direction: row;
    background: #ff7517;
}

.Contenido .Wrap_Request .List_Request .row:hover{
    filter:grayscale(50%);
    transition:0.4s;
    cursor:pointer;
}

.Contenido .Wrap_Request .List_Request .row .cell{
    width:calc(100%/4);
    text-align:center;
    font-family: Armata;
    font-size:1.5em;
    border-bottom:0.20rem solid whitesmoke;
    border-right: 0.20rem solid whitesmoke;
    
    
}

.Contenido .Wrap_Request .List_Request .row .cell a{
    text-decoration: none;
    color:whitesmoke;
    
    display: block;
    padding:0.5em;
    
}

.Contenido .Wrap_Request .List_Request .header_Request{
    background: #2c2727;
    position: sticky;
    top:0;
    
}

.Contenido .Wrap_Request .List_Request .header_Request:hover{
    background: #2c2727;
}

.Contenido .Wrap_Request .List_Request .header_Request .cell{
    border:none;
}

.Contenido .Wrap_Request .List_Request .header_Request a{
    font-size:1.5em;
    font-family: Imperfecta;
    
}

.Contenido .Wrap_Request .Wrap_Details{
    
    width:95%;
    margin:0 auto;
}

.Contenido .Wrap_Request .Wrap_Details .row{
    background:#303841;
    
}

.Contenido .Wrap_Request .Wrap_Details .row:hover{
    background:#667483;
}

.Contenido .Wrap_Request .Wrap_Details .header_Request{
    background:#121435;
}

.Contenido .Wrap_Request .Wrap_Details .header_Request:hover{
    background:#121435;
}

.Contenido .Wrap_Request .Wrap_Details .row .cell:nth-child(1){
    width:70%;
}

.Contenido .Wrap_Request .Wrap_Details .Total_Price{
    
    display: block;
    text-align: end;
    margin-right:5em;
    font-size:2em;
    font-family: Armata;
    font-weight: bold;
    
}

.Contenido .Wrap_Request .Wrap_Details .Total_Price label{
    font-size:1.5em;
}

.Contenido .Wrap_Request .Wrap_Details .btn_Dec{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size:2.5em;
    user-select: none;
    font-family: Imperfecta;
    margin-bottom:1em;
    margin-top:1em;
}

.Contenido .Wrap_Request .Wrap_Details .btn_Dec .btn_Accept{
    background:#7bc74d;
    margin:0 auto;
    text-decoration: none;
    padding:1rem;
    color:whitesmoke;
    transition:0.4s;
}

.Contenido .Wrap_Request .Wrap_Details .btn_Dec .btn_Accept:hover{
    background:#509a23;
}

.Contenido .Wrap_Request .Wrap_Details .btn_Dec .btn_Decline{
    background:#eb2632;
    margin:0 auto;
    text-decoration: none;
    padding:1rem;
    color:whitesmoke;
    transition:0.4s;
}

.Contenido .Wrap_Request .Wrap_Details .btn_Dec .btn_Decline:hover{
    background:#bf1923;
}

.Contenido .Wrap_Request:nth-child(3) > .List_Request .row{
    background:#d72323;
}

.Contenido .Wrap_Request:nth-child(4) > .List_Request .row{
    background:#1a7045;
}

.Wrap_Details{
    position: relative;
    
    text-align: center;
}

.Wrap_Details .Wrap_Checkout{
    background:#3a3535ee;
    position:absolute;
    top:0;
    transform: translateX(5%) translateY(5%);   
    width:90%;
    height:90%;
    display: flex;
    flex-direction: row;
    border-radius: 8%;
    display:none;
}

.Wrap_Checkout .Form_Billing{
    
    width:70%;
    display:flex;
    flex-direction: row;
    margin-left: auto;
    margin-right:auto;
}

.Wrap_Checkout .Form_Billing .Wrap_Billing{
    
    width:50%;
    height:100%;
}

.Wrap_Billing label{
    width: 100%;
    
    font-size:2rem;
    font-family: DealerPlate;
}

.Wrap_Billing input{
    font-family: Armata;
    width: 100%;
    
    border:none;
    
    font-size:2rem;
    margin-bottom:1rem;
}

.Wrap_Checkout .Form_Billing .Wrap_Payment{
    
    width:50%;
    height:100%;
}

.Wrap_Checkout .Form_Billing .Wrap_Payment label{
    font-size:3rem;
    margin-top:3rem;
    font-family: DealerPlate;
    
    
}

.Wrap_Checkout .Form_Billing .Wrap_Payment div{
    width:100%;
    
    display: none;
}

.Wrap_Checkout .Form_Billing .Wrap_Payment input[type="radio"]:checked+div{
    display: block;
}

.Wrap_Checkout .Form_Billing .Wrap_Payment .Cash input{
    font-family: Armata;
    width: 95%;
    
    border:none;
    
    font-size:2rem;
    margin-bottom:1rem;
}

.Form_Billing input[type="submit"]{
    height:20%;
    width: 20%;
    margin:auto 0;
    border:none;
    cursor: pointer;
    transition:0.4s;
    font-family: Armata;
    font-size:2em;
}

.Form_Billing input[type="submit"]:hover{
    background:#232020;
    color:whitesmoke;
}

.Wrap_Payment .Cash{
	color:whitesmoke;
	font-size:3rem;
	font-family:Armata;
}

.Wrap_Payment .Card input{
	width:90%;
	border:none;
	font-size:1.5rem;
	font-family:Armata;
}