@font-face{
    font-family: "DealerPlate";
    src:url("Recursos/Fuentes/dealerplate\ california.ttf")
}

@font-face{
    font-family :"Armata";
    src:url("Recursos/Fuentes/ArmataHL.otf");
}

@font-face{
    font-family: "Sunday";
    src:url("Recursos/Fuentes/SUNDAY\ \ Personal\ use.ttf");
}

@font-face{
    font-family:"Imperfecta";
    src:url("Recursos/Fuentes/Imperfecta\ Regular.ttf");
}

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    outline:0; 
}

body{
    width: 100%;
    background-color:whitesmoke;
}

html{
    font-size:80%;
}

/*************CONTENIDO*****************/
/*************CONTENIDO*****************/
/*************CONTENIDO*****************/
/*************CONTENIDO*****************/
.Wrapper{
    background:whitesmoke;
    width:100%;
    display: flex;
    flex-direction: row;
}

.Wrapper .Wrap_Opciones{
    background:whitesmoke;
    width:20%;
}
.Wrap_Opciones .Opciones{
    background:#222831;
    position: sticky;
    top:12em;
    margin-top:3em;
    padding: 1em 0;
    border-radius: 8%;

    margin-left:20px;
    
}


.Wrap_Opciones .Opciones .Menu{
    width:90%;
    margin-left:auto;
    margin-right:auto;

    list-style: none;
    display: flex;
    flex-direction: column;

    user-select: none;
}

.Wrap_Opciones .Opciones .Menu > input{
    display: none;
}

.Wrap_Opciones .Opciones .Menu > .Item{
    background: #393e46;
    width:100%;
    display: block;
    position: relative;
    font-size:2em;
    font-family:DealerPlate;
    color:white;

    cursor: pointer;
}

.Wrap_Opciones .Opciones .Menu > .Item:before{
    content: "";
    position: absolute;
    border-color: #393e46 transparent transparent transparent;
    border-style: solid;
    border-width: 15px;
    left:10px;
    top:28px;   
    display:none;    
}

.Wrap_Opciones .Opciones .Menu > .Item + .subMenu{
    max-height: 0em;
    list-style: none;
    transition: max-height 0.8s;
    overflow:hidden;
    font-size:1.50em;
    
}

.Wrap_Opciones .Opciones .Menu > input:checked + .Item + .subMenu{
    background: white;
    max-height: 10em;
    transition: max-height 0.4s;
    font-family: Imperfecta;
    
}

.Wrap_Opciones .Opciones .Menu > input:checked + .Item:before{
    display: block;
}

.Wrap_Opciones .Opciones .Menu > .Item + .subMenu > .subItem{
    
    
    cursor: pointer;
    transition: 0.4s;

   
}

.Wrap_Opciones .Opciones .Menu > .Item + .subMenu > .subItem a{
    text-decoration: none;
    color:black;
    padding:0.75rem 0em;   
    padding-left:0.5rem;
    display: block;
    transition: 0.4s;
}



.Wrap_Opciones .Opciones .Menu > .Item + .subMenu > .subItem a:hover{
   background:#ff570c;
}

.Wrap_Opciones .Opciones .Menu >  .Item + .subMenu:last-child{
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.Wrapper .Contenido{
    
    width:80%;
    display: flex;
    flex-direction: column;
    
}

.Wrapper .Contenido .Contenido_Title{
    color:#222831;
    text-align: center;
    font-size:4em;
    font-family: Imperfecta;
    margin-top:1em;
}

.Wrapper .Contenido .Form_Settings{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: auto;
    margin-left:auto;
    
    padding-top:10em;
    padding-left:3em;
    padding-right:3em;
    text-align: center;

    -webkit-box-shadow: 0px 0px 67px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 67px -27px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 67px -27px rgba(0,0,0,0.75);;

    border-radius: 2%;
}

.Wrapper .Contenido .Form_Settings h3{
    font-size:3em;
    color:#d65a31;
    margin:1em 0em;
}

.Wrapper .Contenido .Form_Settings label{
    color:#33313b;
    font-size:2em;
    margin-right:auto;
}

.Wrapper .Contenido .Form_Settings input{
    width:100%;
    border:none;
    font-size:2em;
    padding:0.5rem;
    margin-left: auto;
    margin-right: auto;
    background:#393e46;
    color:whitesmoke;
}

.Wrapper .Contenido .Form_Settings input:last-child{
    margin:1em 0;
}

.Wrapper .Contenido .Form_Settings input#submit:hover{
    background: #000000;
    color:whitesmoke;
    cursor: pointer;
    transition: 0.5s;
}

.Wrapper .Contenido .Form_Settings .Image_Container{
    width: 60%;
    margin:2em auto;
    
}

.Wrapper .Contenido .Form_Settings .Image_Container img{
    width: 100%;
}

.Wrapper .Contenido  h3{
    font-size:3em;
    color:#d65a31;
    margin:1em 0em;
    text-align: center;
}
.Wrapper .Contenido .ImageSlide{
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

    
    -webkit-box-shadow: 0px 0px 67px -27px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 67px -27px rgba(0,0,0,0.75);
box-shadow: 0px 0px 67px -27px rgba(0,0,0,0.75);
    margin-bottom:3em;
    width:90%;
    margin-left:auto;
    margin-right:auto;

    border-radius: 2%;

    padding-top:10em;
}

.Wrapper .Contenido .ImageSlide .Image_Container{
    background: whitesmoke;
    width:40%;
    margin:2em;
    position: relative;
}

.Wrapper .Contenido .ImageSlide .Image_Container:last-child{
    margin-bottom:5em;
}

.Wrapper .Contenido .ImageSlide .Image_Container .Option_Delete{
    width:100%;
    background:rgba(34, 40, 49,0.8);
    z-index: 1;
    position: absolute;
  

    height: 100%;
    display: none;
    transition:0.5s;
    opacity: 0;
}



.Wrapper .Contenido .ImageSlide .Image_Container .Option_Delete .Icon_Container{
    width:25%;
    height: 100%;
    background:transparent;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.Wrapper .Contenido .ImageSlide .Image_Container:hover .Option_Delete{
    display: block;
    transition:0.5s;
    opacity: 1;
    cursor: pointer;
}

.Wrapper .Contenido .ImageSlide .Image_Container .Option_Delete .Icon_Container label{
    background:transparent;
    font-size:1.5em;
    color:whitesmoke;
    font-family: Armata;
    margin: 0 auto;
    cursor: pointer;
    opacity: 0;
    transition:0.4s;
    
}

.Wrapper .Contenido .ImageSlide .Image_Container img{
    width:100%;
    transition:0.4s;
}

.Wrapper .Contenido .ImageSlide .Image_Container .Option_Delete img:hover{
    transform: scale(1.10);
    margin-bottom:1em;
}

.Wrapper .Contenido .ImageSlide .Image_Container .Option_Delete img:hover + label{
    opacity: 1;
}

.Wrapper .Contenido .ImageSlide .Image_Container .Option_Add{
    background:rgba(34, 40, 49,0.8);
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Wrapper .Contenido .ImageSlide .Image_Container .Option_Add img{
    margin:2em 0;
    width:30%;
}

.Wrapper .Contenido .ImageSlide .Image_Container .Option_Add img:hover + label{
    opacity:1;
}

.Wrapper .Contenido .ImageSlide .Image_Container .Option_Add img:hover{
    transform:scale(1.10);
}

.Wrapper .Contenido .ImageSlide .Image_Container .Option_Add label{
    
    font-size:2em;
    font-family: Armata;
    color:whitesmoke;
    opacity: 0;
    transition: 0.5s;
}

