@font-face{
    font-family: "DealerPlate";
    src:url("../Recursos/Fuentes/dealerplate\ california.ttf")
}

@font-face{
    font-family :"Armata";
    src:url("../Recursos/Fuentes/ArmataHL.otf");
}

@font-face{
    font-family: "Sunday";
    src:url("../Recursos/Fuentes/SUNDAY\ \ Personal\ use.ttf");
}

@font-face{
    font-family:"Imperfecta";
    src:url("../Recursos/Fuentes/Imperfecta\ Regular.ttf");
}

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    outline:0; 
}

body{
    width: 100%;
    background-color:whitesmoke;
}

html{
    font-size:80%;
}



/*******************CONTENIDO***************************/
/*******************CONTENIDO***************************/
/*******************CONTENIDO***************************/

.Wrapper .Contenido{
    
    width:80%;
    display: flex;
    flex-direction: column;
    
    user-select: none;
    
}

.Wrapper .Contenido h2{
    font-size:4em;
    color:#393e46;
    text-align:center;
    margin-top:1.5rem;
    font-family: DealerPlate;
}

.Wrapper .Contenido h3{
    font-size:2.5em;
    color:#ff570c;
    text-align: center;
    margin-top:1.5rem;
    font-family: Imperfecta;
}

.Wrapper .Contenido .Add_Product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    
    
    width:50%;
    margin: 0 auto;
    padding-top:10em;
    
    padding-bottom: 2rem;

    -webkit-box-shadow: 0px 0px 67px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 67px -27px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 67px -27px rgba(0,0,0,0.75);

    border-radius: 2%;

}

.Contenido label{
    color:#33313b;
    font-size:2em;
    margin-right:auto;
    background: transparent;
    width: 60%;
    
    margin:1em auto;
    
}

.Contenido label input{
    width:100%;
    border:none;
    font-size:0.75em;
    padding:0.5rem;
    
    background:#393e46;
    color:whitesmoke;
    
}

.Contenido label input#Product_Image{
    font-size:1rem;
}

.Contenido label input#Add_Image{
    font-size:1rem;
}

.Contenido label textarea{
    display: block;
    width:100%;
    background:#393e46;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:0.75em;
    color:whitesmoke;
    resize:none;
    border:none;
}

.Contenido input#Add_Submit{
    width:50%;
    background:#393e46;
    border:none;
    color:whitesmoke;
    font-size:2em;
    margin:1em auto;
    transition:0.5s;
}

.Contenido input#Edit_Submit{
    width:50%;
    background:#393e46;
    border:none;
    color:whitesmoke;
    font-size:2em;
    margin:1em auto;
    transition:0.5s;
}

.Contenido input#Edit_Submit:hover{
    cursor: pointer;
    background:black;
}

.Contenido input#Add_Submit:hover{
    cursor: pointer;
    background:black;
}


label.switch{
    position:relative;
    display:block;
    width: 15%;
    
    background:transparent;
}

label.switch input{
    opacity: 0;
    width:0;
    height:0;
}

.switch .slider{
    position:absolute;
    cursor:pointer;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color:#ccc;
    transition: 0.4s;
    border-radius:2rem;
}

.switch .slider:before{
    position: absolute;
    content:"";
    height:1.5rem;
    width:1.5rem;
    left:10%;
    bottom:12%;
    transition:.4s;
    background-color:#eeeeee;
    border-radius:50%;
}

.switch input:checked + .slider{
    background-color: #2e99b0;
}   

.switch input:checked + .slider:before{
    transform:translateX(275%);
}

/*************EDIT PRODUCT***************/
/*************EDIT PRODUCT***************/
/*************EDIT PRODUCT***************/

.Wrapper .Contenido .Edit_Product .Search_Product{
    
    width:90%;
    margin:2em auto;
    -webkit-box-shadow: 0px 0px 67px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 67px -27px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 67px -27px rgba(0,0,0,0.75);

    border-radius:2%;
    
}

.Search_Product header{
    background:#222831;
    display: block;
    padding:1em;
}

.Search_Product .Searcher{
    background:transparent;
    width:50%;
    margin-left:auto;
}

.Search_Product .Searcher input{
    font-size: 1.5em;
    border:none;
    outline: none;
    padding:0.5rem;
    border-radius: 2%;
}

.Search_Product .Searcher input[type=submit]:hover{
    cursor: pointer;
}

.Search_Product .Results{
    background:#33313b;
    padding:2em;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    
    overflow-y:scroll;  
    overflow-x:scroll;  
    color:white;
    height:30em;
    
    width:100%;
    
}

.Search_Product .Results .table_Container{
    
    display: block;
    
    display:flex;
    flex-direction: column;
    width:100%;
}

.Search_Product .Results .table_Container > div{
    
    display: flex;
    flex-direction: row;
    font-size:1.5rem;
    text-align: center;
}

.Search_Product .Results .table_Container > div > div{
    width:calc(100%/5);
    display: flex;
    flex-direction: row;
    text-align: center;
}

.Search_Product .Results .table_Container > div.table_header {
    background: #d65a31;
}

.Search_Product .Results .table_Container > div.table_header > div > label{
    font-size:1.25em;
    color:whitesmoke;
}

.Search_Product .Results .table_Container > div > div > a{
    user-select: none;
    text-decoration: none;
    color:#222831;
    
    display:block;
    width:100%;
    font-family: Armata;
    font-size:1em;
    border-bottom:0.5em solid black;

    background:#eeeeee;
}

.Wrap_Img_Container{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.Wrap_Img_Container .wrapImg{
    
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:1rem solid orange;
    margin:1rem 0;
    position:relative;
}

.Wrap_Img_Container .wrapImg img{
    
    width:80%;
    margin: auto auto;
}

.Wrap_Img_Container .wrapImg .Icon_Container{
    position: absolute;
    background:rgba(34, 40, 49,0.8);
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display:none;
    cursor:pointer;
}

.Wrap_Img_Container .wrapImg .Icon_Container  a{
    
    display: flex;
    width:50%;
    flex-direction: column;
    justify-content: center;
    
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    outline:none;
}

.Wrap_Img_Container .wrapImg .Icon_Container a img{
    
    
    transition:0.5s;
    
}

.Wrap_Img_Container .wrapImg .Icon_Container a label{
    
    color:whitesmoke;
    display: block;
    width: 100%;
    text-align: center;
    font-size:1.5rem;
    margin-top:0;
    margin-bottom:0;
    opacity: 0;
    outline:none;
    transition: opacity 0.5s;
}

.Wrap_Img_Container .wrapImg:hover .Icon_Container{
    display:block;
    
}

.Wrap_Img_Container .wrapImg .Icon_Container a img:hover{
    transform: scale(1.1);
}

.Wrap_Img_Container .wrapImg .Icon_Container a img:hover + label{
    opacity: 1;
}

#Add_Info,#Edit_Info{
	background:red;
	color:whitesmoke;
	font-family:Imperfecta;
	font-size:2rem;
	display:block;
	width:100%;
	text-align:center;
}


.Wrap_Video_Container{
    width:100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Video_Container{
    width:40%;
    
    margin:1.5rem auto;
}

.myVideo{
    width:100%;
}

.myVideo:hover{
    cursor: pointer;
}

.Video_Container a{
    color:whitesmoke;
    background:#23374d;
    display: block;
    text-align: center;
    text-decoration: none;

    border-radius: 15%;

    font-size:2em;

    font-family: Imperfecta;

    transition:0.4s;
}

.Video_Container a:hover{
    background:#64b2cd;
    transition:0.4s;
}

