@font-face{
    font-family: "DealerPlate";
    src:url("../Recursos/Fuentes/dealerplate\ california.ttf")
}

@font-face{
    font-family :"Armata";
    src:url("../Recursos/Fuentes/ArmataHL.otf");
}

@font-face{
    font-family: "Sunday";
    src:url("../Recursos/Fuentes/SUNDAY\ \ Personal\ use.ttf");
}

@font-face{
    font-family:"Imperfecta";
    src:url("../Recursos/Fuentes/Imperfecta\ Regular.ttf");
}

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    outline:0; 
}

body{
    width: 100%;
    background-color:whitesmoke;
}

html{
    font-size:80%;
}

/******************NAVBAR********************/
/******************NAVBAR********************/
/******************NAVBAR********************/

.navAdmin{
    background:#ff6138;
    position:sticky;
    top:0;
    display:block;
    -moz-user-select: none;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-family: Imperfecta;
    z-index: 5;
}

.navAdmin .Logo{
    width:20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left:3em;

    cursor: pointer;
}


.navAdmin .Logo img{
    width:25%;
    
}

.navAdmin .Logo .Title{
    color:whitesmoke;
    width:75%;
    font-size:2em;
	text-decoration:none;
    display:inline;
}

.navAdmin .User{
    margin-right:3em;
    
    list-style: none;
    background:#ff6138;
    background:green;
    display: flex;
    flex-direction: row;

    
    position: relative;
    width:25%;
    
}

.navAdmin .User > ul{
    background: #ff6138;
    background: gray;
    width:100%;
    display: block;
    
    position: relative;
    margin-top:auto;
    margin-bottom:auto;
    
}

.navAdmin .User > ul > li{
    color:white;
    list-style: none;
    font-size:2em;
    
    background:#ff6138;
    
    
    position: relative;
    display: flex;
    flex-direction: row;
    
    text-align: center;
    align-items: flex-start;
    
    width: 100%;

    cursor: pointer;

    transition:0.4s;
}

.navAdmin .User > ul > li .UserImg{
    
    width:50%;
    margin-right:auto;
    
}

.navAdmin .User > ul > li .UserImg img{
    width:50%;
}

.navAdmin .User > ul > li label{
    
    position: relative;
    width:50%;
    display: block;
    margin-top:auto;
    cursor: pointer;
    padding-top:auto;
    
}

.navAdmin .User > ul>li label > ul{
    position: absolute;
    list-style: none;
    background: #ff6138;
    width:100%;
    bottom:1;
    display: none;
}

.navAdmin .User > ul>li:hover label > ul{
    display: block;
}

.navAdmin .User  a{
	text-decoration:none;
	color:whitesmoke;
	width:100%;
	display:block;
}

.navAdmin .User > ul>li:hover{
    background:red;
    
}

.navAdmin .User > ul>li:hover label > ul > li:hover{
    background:red;
    transition: 0.4s;
}

.Wrapper{
    background:whitesmoke;
    width:100%;
    display: flex;
    flex-direction: row;
}

.Wrapper .Wrap_Opciones{
    background:whitesmoke;
    width:20%;
}
.Wrap_Opciones .Opciones{
    background:#222831;
    position: sticky;
    top:12em;
    margin-top:3em;
    padding: 1em 0;
    border-radius: 8%;

    margin-left:20px;
    
}


.Wrap_Opciones .Opciones .Menu{
    width:90%;
    margin-left:auto;
    margin-right:auto;

    list-style: none;
    display: flex;
    flex-direction: column;

    user-select: none;
}

.Wrap_Opciones .Opciones .Menu > input{
    display: none;
}

.Wrap_Opciones .Opciones .Menu > .Item{
    background: #393e46;
    width:100%;
    display: block;
    position: relative;
    font-size:2em;
    font-family:DealerPlate;
    color:white;

    cursor: pointer;
}

.Wrap_Opciones .Opciones .Menu > .Item:before{
    content: "";
    position: absolute;
    border-color: #393e46 transparent transparent transparent;
    border-style: solid;
    border-width: 15px;
    left:10px;
    top:28px;   
    display:none;    
}

.Wrap_Opciones .Opciones .Menu > .Item + .subMenu{
    max-height: 0em;
    list-style: none;
    transition: max-height 0.8s;
    overflow:hidden;
    font-size:1.50em;
    
}

.Wrap_Opciones .Opciones .Menu > input:checked + .Item + .subMenu{
    background: white;
    max-height: 10em;
    transition: max-height 0.4s;
    font-family: Imperfecta;
    
}

.Wrap_Opciones .Opciones .Menu > input:checked + .Item:before{
    display: block;
}

.Wrap_Opciones .Opciones .Menu > .Item + .subMenu > .subItem{
    
    
    cursor: pointer;
    transition: 0.4s;

   
}

.Wrap_Opciones .Opciones .Menu > .Item + .subMenu > .subItem a{
    text-decoration: none;
    color:black;
    padding:0.75rem 0em;   
    padding-left:0.5rem;
    display: block;
    transition: 0.4s;
}



.Wrap_Opciones .Opciones .Menu > .Item + .subMenu > .subItem a:hover{
   background:#ff570c;
}

.Wrap_Opciones .Opciones .Menu >  .Item + .subMenu:last-child{
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}